:root {
    --darkblue: #2259c6;
    --nav: #7118de;
    --blue: #3175ff;
    --border: white;
    --results: #560db0;
}

body {
    background: linear-gradient(0deg, rgba(31,44,88,1) 0%, rgba(0,0,0,1) 88%);
    color: white;
}
.title {
    text-align: center;
    padding: 40px;
    margin: -10px -10px 0px -50px;
    box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.25);
    text-shadow: 0px 0px 10px #CECECE;
}

.pic {
    width: 20%;
    height: 100%;
    object-fit: contain;
    margin-top: 35px;
}
#screenadj {
    display: none;
}

nav {
    background: rgb(64,15,124);
    background: linear-gradient(0deg, rgba(64,15,124,1) 0%, rgba(113,24,222,1) 93%);
    -webkit-box-shadow: 1px 1px 38px -1px rgba(255,255,255,0.37);
    -moz-box-shadow: 1px 1px 38px -1px rgba(255,255,255,0.37);
}

.introcontainer {
    text-align: center;
    padding: 50px;
    margin: 50px 80px 50px 80px;
    border-radius: 25px;
    border: 1px solid;
    border-color: var(--border);
    box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.25);
}
.introcontainer > h4 {
    padding: 60px;
}

.introcontainer > button {
    background-color: var(--blue);
    border: 0px;
    padding: 30px 50px 30px 50px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 24px;
    color: white;
    box-shadow: 1px 1px 38px -1px rgba(255,255,255,0.37);
    -webkit-box-shadow: 1px 1px 38px -1px rgba(255,255,255,0.37);
    -moz-box-shadow: 1px 1px 38px -1px rgba(255,255,255,0.37);
}
.introcontainer > button:hover {
    box-shadow: inset 0px 6px 10px 1px rgba(0,0,0,0.25);
    background-color: var(--darkblue);
    transition: .5s;
}


.prompts {
    padding: 50px 10px 50px 10px;
    margin-bottom: 50px;
    margin-top: -50px;
    display: none;
}

.prompts > .question {
    margin: 10px -60px 10px -50px;
    border-bottom: 1px var(--border) solid;
    padding: 10px 0px 20px 40px;
    box-shadow: 0px 15px 17px -6px rgba(255,255,255,0.25);
-webkit-box-shadow: 0px 15px 17px -6px rgba(255,255,255,0.25);
-moz-box-shadow: 0px 15px 17px -6px rgba(255,255,255,0.25);
}

.resultspage {
    text-align: center;
    padding: 50px;
    margin-bottom: 200px;
    display: none;
    
}
.resultspage > h2 {
    -webkit-box-shadow: 1px 1px 38px -1px rgba(255,255,255,0.37);
    -moz-box-shadow: 1px 1px 38px -1px rgba(255,255,255,0.37);
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    margin: 20px -60px 80px -60px;
    padding: 50px 20px 50px 20px;
    font-size: 36px;
}
.column{
    width: 19%;
    float: left;
    padding: 5px;
    margin: 15px 1px 1px 1px;
    justify-content: space-around;
}
.Previous{
    display: none;
}
.aboutUs{
    display: none;

}

#submit {
    float: right;
    display: none;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    border: 0px;
    background-color: var(--blue);
    color: white;
}
#submit:hover {
    background-color: var(--darkblue);
    box-shadow: inset 0px 6px 10px 1px rgba(0,0,0,0.25);
    transition: .3s;
}

.Videos{
    display: flex;
    margin-bottom: 15px;
}

.material-icons {
    padding: 20px;
    margin: 20px 15px 30px 30px;
    border: 3px solid white;
    border-radius: 50%;
}
.material-icons:hover {
    background-color: var(--blue);
    transition: .5s;
}



/* mobile compatibility */
@media screen and (max-width: 837px) {
    .title {
        font-size: 56px;
        margin-top: -40px;
    }
    .pic {
        display: none;
        
    }
    #screenadj {
        display: block;
        width: 50%;
        object-fit: contain;    
        margin-left: auto;  
        margin-right: auto; 
        margin-top: 15px;
    }}

@media screen and (max-width: 600px) {
    .title {
        font-size: 40px;
    }
    .pic {
        display: none;
    }
    .introcontainer {
        padding: 20px;
    }
    .introcontainer > h4 {
        font-size: 24px;
    }
    .column {
        width: 100%;
        border-bottom: 1px white solid;
    }

    #submit {
        width: 95%;
    }}
